.form-add-job {
  background-color: #fff;
  padding: 24px !important;

  .ant-form-item {
    margin-bottom: 0;
    border-bottom: 1px solid #cfc7c7 !important;
  }

  .ant-form-item-label {
    width: 40%;
    text-align: left;
    padding: 9px 16px;
  }
}
